
.region-filter-container {
  display: flex;
  flex-direction: row;
}

.region-filter-left {

}

.region-filter-right {
padding-left: 10px;
}

.selected-count {
  margin-bottom: 5px;
}

.type-filters {
  margin-bottom: 10px;
}

.type-filters > label {
  margin-right: 10px;
}

.numeric-mode {
  margin-bottom: 10px;
}

.numeric-mode > label {
  margin-right: 10px;
}

.location-filter {
  margin-bottom: 10px;
  margin-right: 10px;
}

.segments {
  display: flex;
  flex-direction: row;

  -webkit-box-shadow: inset 0px -26px 7px -22px rgba(0,0,0,0.36);
  -moz-box-shadow: inset 0px -26px 7px -22px rgba(0,0,0,0.36);
  box-shadow: inset 0px -26px 7px -22px rgba(0,0,0,0.36);
}

.segments-divider {
  max-height: 100px;
  overflow: scroll;

  padding-bottom: 20px;
}

.segment-0 {
  min-width: 300px;
}

.segment-1 {

}

.segment {
  opacity: 0.5;
  height: 22px;
  padding: 3px;
  margin: 0px;
  align-items: center;
}

.segment-flag {
  display: block;
  float: left;
}

.segment-text {
  float: left;
  padding-left: 2px;
  line-height: 13px;
}

.segment.selected {
  opacity: 1;
}

.chart {
  float: left;
}

.chart-placeholder {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
}

.legend {
  position: absolute;
  left: 100px;
  margin-top: 20px;
}

.hint {
  padding: 5px;
  margin-bottom: 5px;
  font-size: 20px;
  color: white;
  background-color: #f1592a;
  border-radius: 10px;
  text-align: center;
}

button:disabled {
  background-color: black;
  opacity: 0.05;
}