
.leaflet-container {
  width: 100%;
  height: 600px;
}

.custom-marker-icon {
  border-radius: 50%;
  border: 1px solid #ddd;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-marker-label {
  
}

.large {
  background-color: red;
  color: white;
  font-size: 20px;
}

.large.recovered {
  background-color: #00aa00 !important;
}

.medium {
  background-color: orange;
}

.medium.recovered {
  background-color: #008800 !important;
  color: white;
}

.small {
  background-color: yellow;
}

.small.recovered {
  background-color: #005500 !important;
  color: white;
}

.xs {
  background-color: white;
}

.date-slider-container {
  margin: 10px 10px 30px 10px;
}