
.tabswitcher {
}

.header {
  flex: 1;
  flex-direction: column;
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  background-color: #ddd;
}

.label {
  padding: 15px;
  cursor: pointer;
  text-decoration: underline;
}

.label-selected {
  background-color: white;
}

.title {
  padding: 15px;
  font-weight: 800;
}

.body {
  flex: 1;
  padding: 20px;
}
