body, html, .App {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #f9f9f9;
}

.source-info {
  clear: both;
  margin-left: 20px;
}

.link-wrapper {
  margin-top: 3px;
}

.link-wrapper a {
  margin-left: 5px;
}